<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Start of Meta Tags - Section -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">  
  <meta name="description" content="iPand | Intelligent Pandemic Data Time-Series Analysis & Forecasting | Vijayanand Kandasamy">
  <meta name="keywords" content="iPand, Pandemic Data Time-Series Analysis & Forecasting, Time-Series Analysis, Vijayanand Kandasamy" />
  <meta name="author" content="Every Web Works" />
  <!-- // End of Meta Tags - Section -->

  <!-- Site Title -->
  <title>iPand | Intelligent Pandemic Data Time-Series Analysis & Forecasting | Vijayanand Kandasamy</title>

  <!-- Start of Favicons - Section -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='images/apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='images/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='images/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='images/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static',filename='images/android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='images/favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static',filename='images/manifest.json') }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ url_for('static',filename='images/ms-icon-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">
	<!-- // End of Favicons - Section -->

  <!-- Start of CSS - Section -->
  <!-- Main - Style Sheet -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/authentication_style.css') }}">
  <!-- Custom - Style Sheet -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom_style.css') }}">
  <!-- // End of CSS - Section -->
</head>

<a href="/index" class="logo"><img src="{{url_for('static', filename='images/logo_ipand.png')}}" alt="Logo | iPand | Intelligent Pandemic Data Time-Series Analysis & Forecasting" class="img-fluid"></a>
<h2>Welcome to iPand - Forecasting Application</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">		
		<form action="/sign_up" method="post">
		{% if success_message %}
      <div class="alert alert-success">
        {{ success_message }}
      </div>
    {% endif %}
    {% if error_message %}
      <div class="alert alert-danger">
        {{ error_message }}
      </div>
    {% endif %}
			<h1>Create Account</h1>			
			<span>Use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" name="email_address" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<input type="password" placeholder="Confirm Password" />
			<button>Sign Up</button>
		</form>
	</div>

	<div class="form-container sign-in-container">		
		<form action="/index" method="post">
		{% if success_message %}
      <div class="alert alert-success">
        {{ success_message }}
      </div>
    {% endif %}
    {% if error_message %}
      <div class="alert alert-danger">
        {{ error_message }}
      </div>
    {% endif %}
    <br>
			<h1>Sign in</h1>			
			<span>Enter your Login Credentials</span>
			<input type="email" name="email_address" placeholder="Your Email Address" required />
			<input type="password" name="password" placeholder="Password" required />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello!</h1>
				<p>Register to get Started</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

	

</div>

<!-- Start of Javascript - Section -->
<script src="{{ url_for('static', filename='js/authentication.js') }}"></script>
<!-- // End of Javascript - Section -->

</body>
</html>